.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.logo{
    width: 40%;
}
.logo img{
width: 94px;
height: 56px;

}
.right-nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.home-cart{
    display: flex;
    gap: 60px;
    align-items: center;
}
.home-cart h2{
    font-size: 18px;
}
.search-part{
    display: flex;
    gap: 90px;
    align-items: center;
    padding:0px 20px;
    box-shadow: 0px 0px 5px 0px #ADADAD;
    border-radius: 10px;
   
}
.search{
    display: flex;
    gap: 20px;
  
}
.search img{
    height: 25px;
    width: 26px;
  
}
.search h2{
    font-size: 18px;
}
.vl{
    border-left: 2px solid #ADADAD;
    height: 30px;

}
.shopping{
    display: flex;
    align-items: center;
    gap:30px
}
.shopping img{
    margin-top: -25px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


.header-middle img{
    height: 200px;
    width: 200px;
    margin-top: 75px;
   
}

.bike-delivery{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    background-color: #F5DDC4;
    width: fit-content;
    gap: 60px;
    align-items: center;
    margin-top: 50px;
}
.bike-delivery h2{
    font-size: 18px;
}
.bike-delivery img{
    clip-path: circle();
}
.main-title h1{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 60px;

}
.delivery-text-color{
    color: var(--font-change-color);
    font-weight: bold;
}
.main-desc{
    margin-top: 50px;
    margin-right: 90px;
    text-align: justify;
}
.order-part{
    margin-top: 60px;
}
.order-part button{
    background-image: linear-gradient(180deg, #EFAB68 0%, #F48E28 100%);
    padding: 15px 40px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;

}
.order-part{
    display: flex;
    gap: 50px;
    align-items: center;
}
.order-process{
    display: flex;
    align-items: center;
    
}
.order-process img{
    height: 80px;
    width: 80px;
    clip-path: circle();
}
.order-process h3{
    font-weight: bolder;
}
.header-right{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 50px;
    margin-left: 60px;
}
.item-name{
    height: 290px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #ADADAD;
    align-content: center;
    border-radius: 30px;
  
    
}
.item-name img{
    margin-top: -30px;
    height:250px;
    width: 250px;
   margin-top: 1px;
}
.item-desc{
    margin-top: -50px;
    line-height: 30px;
}
.item-name p{
    text-align: center;
    margin-top: 10px;
    line-height: 15px;
}
.item{
    font-size: 20px;
    font-weight: bolder;
}
.dollar-sign{
    color: rgb(180, 37, 37);
    font-weight: bolder;
}
.header-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px #ADADAD;
    border-radius: 20px;
    padding: 30px  70px;
    margin-top: 50px;
    
}
.bottom-first{
    text-align: center;
    
}
.group-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 43px;
    border-radius: 50%;
    background-color: #F48E28;
    margin:auto;
}

.time h3{
    margin: 5px 0px;
}
.vl2{
    border-left: 2px solid #ADADAD;
    height: 100px;
    margin: 0px 70px;

}
@media only screen and (min-width:200px)and (max-width:576px){
    .header-container{
        padding: 0px 20px;
    }
    .home-cart{
        gap: 10px;
    }
    .home-cart h2{
        font-size: 13px;
    }

    .search-part{
        gap: 10px;
        padding:0px 5px;
        box-shadow: 0px 0px 5px 0px #ADADAD;
        border-radius: 10px;
       
    }
    .search{
        display: flex;
        gap: 5px;
      
    }
    .search img{
        height: 15px;
        width: 16px;
      
    }
    .search h2{
        font-size: 13px;
    }
    .vl{
        border-left: 2px solid #ADADAD;
        height: 20px;
    
    }
    .shopping{
        gap:10px
    }
    .shopping img{
        margin-top: -25px;
    }
    .header{
        display: flex;
        flex-direction: column;
    }
    .main-title h1{
        text-transform: uppercase;
        font-size: 40px;
        font-weight: bolder;
        margin-top: 40px;
    
    }
    
    .header-middle img{
        margin-top: 35px;
       
    }
   
    .header-right{
        grid-template-columns: auto ; 
        margin-right:40px ;
    }
    .order-part{
        gap: 10px;
    }
    .order-part button{
        padding: 10px 20px;
    
    }
    .header-bottom{
        display: flex;
        flex-direction: column;
        
    }
   
    .vl2{
        height: 50px;
        margin: 30px 70px;
    
    }
}
